.tmp {
  border: 1px solid red;
  width: 100px;
  height: 100px;
}
* {
  box-sizing: border-box;
}
.body {
  width: 100%;
  display: flex;
  .control-panel {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    .single-panel {
      padding: 20px;
      .title {
        font-family: 'Raleway';
        color: #337ab7;
        font-size: 28px;
      }
      .search-button {
        margin-left: 120px;
      }
    }
    .multiple-panel {
      .title {
        font-family: 'Raleway';
        color: #337ab7;
        font-size: 28px;
      }
      padding: 20px;
      .search-button {
        margin-left: 120px;
      }
      border-top: 1px dashed #ccc;
    }
  }
  .graph-container {
    border-left: 1px dashed #ccc;
    .single-graph {
    }
    br {
    }
    .multi-graph {
      padding-top: 50px;
      border-top: 1px dashed #ccc;
    }
  }
}
h2 a {                                            
    color: #36486b;                               
    font-family: 'Doppio One';                    
}                                                 
                                                  
h3 {                                              
    color: #667292;                               
    font-family: 'Doppio One';                    
}                                                 
                                                  
h4 {                                              
    font-family: 'Raleway Dots';font-size: 18px;  
    /*font-style: italic;*/                       
}                                                 
.summary {
  font-family: 'Raleway Dots';font-size: 28px;  
}
.transform {
  text-transform: capitalize;
}
