<!-- <!DOCTYPE html>
<html> -->
  <head>
    <title>FAQs</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/static/bootstrap3/css/bootstrap.min.css">
    <link href="/static/bootstrap-slider/bootstrap-slider.css" rel="stylesheet">
    <link href="/static/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Raleway Dots' rel='stylesheet'>

    <style>

    p {
        font-family: 'Helvetica';font-size: 20px; color:black;
    }
    /*Raleway Dots*/

    </style>
  </head>

  {% extends 'city/base.html' %}
  {% block content %}
<body>
<div style="max-width:800px; word-wrap:break-word;padding-left: 20px">
<!-- <p>FAQs from self:</p> -->
<br>
<p>Q: What is here?</p>
<p>A: Here you have Chicago Neighborhood Brief, an neighborhood evaluation system that aims to help apartment seekers finalize their rental decision. We  Chicago Neighborhood Brief allows user to define a radius of one address based as the neighborhood, then analyze the safety, convenience, and noise-level of that neighborhood. This system also allows multiple location comparison.
</p><br>
<p>Q: What is not here?</p>
<p>A: We choose not to include lots of data regarding the neighborhood profiles such as age, marital status, religious affiliation, etc. All of which we considered uninformative for renters. The only data relevant is the mean income of a neighborhood, which is largely reflected by the rent and easily accesible online. At the stage of comparing neighborhood information, we felt the apartment-seeker already have a good idea about these information, so we did not include them.
</p><br>
<p>Q: What is your methodology?</p>
<p>A: The methodology we used follows linear weighting of three dynamic indicators, safety, noise and convenience. We pass the decision to users to produce the rating based on their own preference.
</p><br>
<p>Q: How current is your data?</p>
<p>A: Crime data is based on the one year crime case dataset from city of Chicago data portal, ranging from last week to a year prior. Convenience rating is based on google maps information, which updates daily. Noise level data is based on a patented service provided by howloud.com. There is no public information available on how current their data is.
</p><br>
<p>Q: How is the system built?</p>
<p>A: Magic.</p>
<br>
<p>Q: How good is Chicago Neighborhood Brief?</p>
<p>A: For our convenience. Profoundly, we can locate at most 60 public places of the same type around your preferred location, which outperformed many commercial websites.
</p><br>
<p>Q: Who are Han-Ji-Ji?</p>
<p>A: Han Shen, Ji Wanlin, and Ji Ye. They are three U of C graduate students.</p>
<br>
<p>Q: Do you plan to extend to other cities?</p>
<p>A: City of Chicago has the best city data, if we come across city with data as good, we will think about it.</p>
<br>
<p>Q: Why neighborhood brief?</p>
<p>A: We feel like apartment market .</p>
<br>
<!-- <p>Enjoy!</p> -->
</div>
</div>
</body>
{% endblock %}
<!-- </html> -->
