h2 a {
    color: #36486b;
    font-family: 'Doppio One';
}

h3 {
    color: #667292;
    font-family: 'Doppio One';
}

h4 {
    font-family: 'Raleway Dots';font-size: 18px;
    /*font-style: italic;*/
}

h5 {color: grey;
    font-family: courier;
  }
