<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <head>
      <link rel="stylesheet" href="/static/css/main.css">
      <link rel="stylesheet" href="/static/css/index.css">
      <script src="http://libs.baidu.com/jquery/1.10.2/jquery.min.js"></script>
      <script src="/static/js/main.js"></script>
      <script src="/static/js/index.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link href='//fonts.googleapis.com/css?family=Raleway Dots' rel='stylesheet'>
      <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
      <link href='//fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
      <title>Title page</title>
        <style>
        ti {
            font-family: 'Alfa Slab One';font-size: 36px;
            color: white;
            outline-color: black;
        }
        te {
            font-family: 'Raleway';font-size: 28px;
            text-decoration: underline;

            color:white;
            outline-color: black;
        }
        </style>
  </head>

  <body>
    <div id='totalBg'>
    </div>

    <header id="Header">
    </header>

    <div id="streamer">
      <div id="streamerBackground">
      </div>
      <div id="streamerContainer">
        <te><p>Team Han-Ji-Ji presents</p></te>
        <ti><p>Chicago Neighborhood Brief</p></ti>
        <a href="/city" class="btn btn-success btn-lg">Go analyze some neighborhoods</a>
      </div>
    </div>

    <div id="bgStretch">
      <a class="imageContainer imageContainerActive" href="" >
        <img class="indexBg" src="/static/images/bg2.jpg" alt="img"></a>
   </div>

    <!-- <footer>
	    <nav id="bg_pagination">
		    <ul>
          <li class="downTitle active" text="images/bg1.jpeg" index='0'><a href=""></a></li>
          <li class="downTitle" text="images/bg2.jpeg" index='1'><a href=""></a></li>
          <li class="downTitle" text="images/bg3.jpg" index='2'><a href=""></a></li>
          <li class="downTitle" text="images/bg4.jpeg" index='3'><a href=""></a></li>
          <li class="downTitle" text="images/bg5.jpg" index='4'><a href=""></a></li>
        </ul>
	    </nav>
    </footer> -->

  </body>
</html>
